.nav {
    background-color: #00C2FF;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

img{
    width: 35%;
}

body {
    background-color: #04E1FF;
}

.container{
    background-color: #01A4FF;
    min-height: 100vh;
}

video {
    width: auto;
}

.center{
    text-align: center;
}

h4 {
    padding: 10px;
}

.homepage{
    cursor: pointer;
    background: cyan;
    transition: 0.4s;
    margin: 0;
    height: 45px;
    border: 1px solid darkblue;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 10px;
}

.homepage:hover {
    background: darkblue;
}

.homepage:hover > a {
    color: white;
}

.historical{
    cursor: pointer;
    background: cyan;
    transition: 0.4s;
    margin: 0;
    height: 45px;
    border: 1px solid darkblue;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 10px;
}

.historical:hover {
    background:rgb(0, 119, 255);
}

.historical:hover > a {
    color: white;
}

.deco{
    cursor: pointer;
    background: cyan;
    transition: 0.4s;
    margin: 0;
    height: 45px;
    border: 1px solid darkblue;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 10px;
}

.deco:hover {
    background: red;
}

.deco:hover > a {
    color: white;
}

#historical > a > h2 {
    cursor: pointer;
    background: cyan;
    transition: 0.4s;
    margin: 0;
    height: 45px;
    border: 1px solid darkblue;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 10px;
}

#historical > a > h2:hover {
    background:rgb(0, 119, 255);
}

#historical > a > h2:hover {
    color: white;
}

#historical > a:hover {
    color: white;
}